html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("../img/login-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
     width: 760px;
     height: 480px;
     background-color: #fff;
     /*position: absolute;*/
     /*top:130px;*/
     /*left:305px;*/
     border-radius: 4px;
     position: relative;
    box-shadow: 0.1px 0.4px 0 1.5px rgba(218,218,218,0.6) ;
 }

.zcy_left{
    width: 400px;
    height: 510px;
    background-color: aquamarine;
    border-radius: 4px;
    position: absolute;
    top:-15px;
    left:-2px;
    background-image: url("../img/login-2.jpg");
}
.zcy_left .content{
    margin-top: 55px;
    margin-left: 50px;
}
.zcy_left h3{
    font-size: 18px;
    color: #fff;

}
.zcy_left h1{
    font-size: 30px;
    color: #fff;
}
.zcy_left .dot{
    width: 30px;
    height:6px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.zcy_left .dot .cir{
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
}
.zcy_right{
    width: 260px;
    height: 420px;
    position: absolute;
    top:30px;
    left:450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.zcy_right .top{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.zcy_right .cir{
    width: 84px;
    height: 84px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0  0 9px rgba(236,235,235,0.75);
    margin:0 auto;
}
.zcy_right .cir img{
    position: absolute;
    top:15px;
    left: 105px;
}
.zcy_right .zhanghao{
    width: 260px;
    height: 100%;
    /*padding-top: 30px;*/
    position: relative;
}
.zcy_right input{
    width: 100%;
    height: 30px;
    border:none;
    border-bottom: 1px solid #b4cdf5;
    outline: none;
    background: none;
    padding-left: 40px;
}
.zcy_right .zhanghao p1{
    z-index: 2;
    width: 150px;
    height: 30px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 1px 1px 20px 3px rgba(204,204,204,0.75) ;
    color:#e83e3e;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top:52px;
    right:5px;
    display: none;
}
.zcy_right .user{
    color:#4381e6;
    font-size: 14px;
    margin-top: 30px;
    position: relative;
    background-image: url("../img/login-6.jpg");
    background-repeat: no-repeat;
    background-position-y: 5px;
}
.zcy_right .zhanghao p2{
    color:#e83e3e;
    font-size: 18px;
    position: absolute;
    top:28px;
    right:5px;
    cursor: pointer;
    display: none;
}
.zcy_right .zhanghao .duigou1{
    position: absolute;
    top:35px;
    right:5px;
    display: none;
}
.zcy_right .mima{
    position: relative;
}
.zcy_right .password{
    margin-top: 24px;
    background-image: url("../img/login-7.jpg");
    background-repeat: no-repeat;
    background-position-y: 5px;
}
.zcy_right .mima p1{
    width: 150px;
    height: 30px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 1px 1px 20px 3px rgba(204,204,204,0.75) ;
     color:#e83e3e;
     font-size: 14px;
    text-align: center;
    line-height: 30px;
     position: absolute;
     top:48px;
     right:0;
     display: none;
 }
.zcy_right .mima p2{
    color:#e83e3e;
    font-size: 18px;
    position: absolute;
    top:25px;
    right:5px;
    display: none;
    cursor: pointer;
}
.zcy_right .mima .duigou2{
    position: absolute;
    top:30px;
    right:5px;
    display: none;
}
.zcy_right .yinying{
    position: absolute;
    top:230px;
}
.zcy_right .login{
    z-index: 20;
    width: 100%;
    height: 32px;
    background: none;
    background-image:linear-gradient(to left,#30c2fb,#4381e6) ;
    border-radius: 4px;
    opacity: 0.7;
    outline: none;
    border:none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-top: 45px;
    margin-bottom: 20px;
}
.zcy_right .zhuce{
    width: 100%;
    height: 32px;
    background: #fff;
    border:1px solid #b4cdf5;
    border-radius: 4px;
    color: #4381e6;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
}
.zcy_right .forget{
    color: #4381e6;
}
