/*
* @Author: nanjiao
* @Date:   2018-09-08 09:32:48
* @Last Modified by:   Dell
* @Last Modified time: 2018-09-12 21:22:42
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "苹方";
    list-style: none;
    text-decoration: none;
}
.Ndhz{
	width: 1336px;
	/* height: 768px; */
	/* background-color: #4381E6; */
	background-color: #F1F4F9;
	margin: 0 auto;
}
.Ndsjpt{
	width: 1336px;
	height: 58px;
	background-color: #4381E6;
	 padding-left:50px; 
}
.Ntp{
	width: 210px;
	height: 100%;
	left: 50px;
	float: left;
}
.Nyyk{
	width: 30px;
	height: 30px;
    margin-right: 10px;
	margin-top: 10px; 
	float: left;
}
.Nxxk .active a{
	color: #4381E6;
}
.Nxxk ul li a{
	color: #8D8D8D;
}
.Nz {
	width: 160px;
	height: 30px;
	float: right;
	line-height: 58px;
}
.Nz p{
  font-size: 18px;
  color: white;
  /* font-family: 黑体; */
}
.Np{
	width: 190px;
	height: 100%;
	float: right;
	position: relative;
	
}

.Np img{
	
	width: 28px;
	height: 28px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto 0;

}

.Ny {
	width: 160px;
	height: 30px;
	float: right;

	
}
.Ny p{
  font-size: 14px;
  color: #9BB7F0;
  line-height: 58px;

}
.Nxxk{
	width: 182px;
	height: 800px;
	float: left;
    background: #fff;
    /* box-shadow: 0 0 0 1px #E7EAEF; */

}
.Nxxk ul li{
	width: 100%;
	height: 40px;
	border-top: 1px solid #F1F4F9;
	border-bottom: 1px solid #F1F4F9;
	color: #8D8D8D;
	text-align: center;
	line-height: 40px;
}
.Nxxk .active{
	background: #ECF2FC;
	color: #4381E6;
	border-right: 2px solid #4381E6;
} 
.Nxxk ul li:hover{
	background: #ECF2FC;
	color: #4381E6;
	border-right: 2px solid #4381E6;
}
.Nh{
	float: right;
	width: 1134px;
    height: 630px;
	/* background: red; */
}
.Cyj_content{
	width: 1118px;
	/*height: 58px;*/
	/*background: #fff;*/
	border-radius: 5px;
	margin-top: 13px;
	margin-left: 15px;
	/*padding:22px 20px 0 22px;*/
	box-sizing: border-box;
	color: #8d8d8d;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;

}
.Cyj_title{
	background-color: #ffffff;
	position: relative;
}
.Cyj_title h2:after{
	width:2px;
	height:10px;
	content: "";
	background-color: #33bffb;
	position: absolute;
	left:0;
	top:4px;
}
.Cyj_title h2{
	margin:0;
	font-size: 12px;
	padding-left: 8px;

}
.Cyj_content .Cyj_title .Cyj_title2{
	width: 540px;
	height: 240px;
	/*background-color: #33bffb;*/
	border-radius: 5px;
	position: relative;
}
.Cyj_content .Cyj_title .Cyj_title2 .tu1{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.Cyj_content .Cyj_title .Cyj_title2 .tu2{
	position: absolute;
	right: 5px;
	bottom: 5px;
}
.Cyj_title3{
	margin-left: 14px;
	position: relative;
	background-color: #ffffff;
}
.Cyj_title3 h2:after{
	width:2px;
	height:10px;
	content: "";
	background-color: #33bffb;
	position: absolute;
	left:0;
	top:4px;
}
.Cyj_title3 h2{
	margin:0;
	font-size: 12px;
	padding-left: 8px;
	position: relative;
}
.Cyj_content .Cyj_title3 .Cyj_title4{
	width: 540px;
	height: 240px;
	/*background-color: #33bffb;*/
	border-radius: 5px;
}
.Cyj_content .Cyj_title3 .Cyj_title4 .tu3{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.Cyj_content .Cyj_title3 .Cyj_title4 .tu4{
	position: absolute;
	right: 5px;
	bottom: 5px;
}
.Nzhong .Nwu{
	width: 80px;
	height: 100%;
	margin-left: 30px;
    padding-top: 20px; 
    display: flex;
}
.Nzhong .Nwu b{
	line-height:20px; 
	color: #B8B8B8;
	font-size: 14px;
	font-weight: normal;
}
.Nzhong .Nwu  span{
    line-height:20px;
	color: #4381E6;
	font-size: 40px;
    
}
.Nzhong .Nmima {
	margin-left: 220px;
	line-height:40px;
	color: #B8B8B8;
	font-size: 14px;
	display: flex;
	margin-top: -40px;

}
.Nzhong .Nmima input{
	line-height:20px; 
	color: #B8B8B8;
	font-size: 14px;
	background: #F9F9F9;
	font-weight: normal;
	border-radius: 5px;

	border: none;
	padding-left: 10px;
	/* outline: none; */

}
.Nzhong .Nmima  span{
    line-height:25px;
	color: #B8B8B8;
	font-size: 14px;
    
}
button{
	background-color: #33bffb;
	color: #ffffff;
}
.Nnr{
	width: 100%;
	height: 780px;
}
.Ndibu{
	
	width: 100%;
	height: 50px;
	background: #fff;
	color: #C6C6C6;
	text-align: center;
	font-size: 12px;
	line-height: 70px;
	z-index: 999;
}


.Zyx_content{
	width: 77px;
	/*height: 28px;*/
	/*background-color: #9BB7F0;*/
	border:1px solid #f4f4f4;
	border-radius: 2px;
	margin-left: 12px;
	display: flex;
	flex-direction: row;
	/*justify-content: space-around;*/
	position: relative;
}
.Zyx_content h5{
	font-size: 8px;
	color: #33bffb;
	display: block;
	position: absolute;
	top:5px;
	right: 5px;
}
.Zyx_content1 h5{
	font-size: 8px;
	color: #33bffb;
	position: absolute;
	top:5px;
	right: 5px;
}
.Zyx_content2 h5{
	font-size: 8px;
	color: #33bffb;
	position: absolute;
	top:5px;
	right: 5px;
}
.Zyx_content3 h5{
	font-size: 8px;
	color: #33bffb;
	position: absolute;
	top:5px;
	right: 5px;
}
.Zyx_content1{
	width: 77px;
	/*height: 28px;*/
	/*background-color: #9BB7F0;*/
	/*border:1px solid #f4f4f4;*/
	border-radius: 2px;
	margin-left: 12px;
	border:1px solid #f4f4f4;
	display: flex;
	flex-direction: row;
	position: relative;
	/*justify-content: space-around;*/
}
.Cyj_search h3{
	margin-left: 22px;

}
.Cyj_search h2{
	font-size: 20px;
}
.Zyx_content2{
	width: 77px;
	/*height: 28px;*/
	/*background-color: #9BB7F0;*/
	border:1px solid #f4f4f4;
	border-radius: 2px;
	margin-left: 12px;
	display: flex;
	flex-direction: row;
	position: relative;
	/*justify-content: space-around;*/
}
.Zyx_content3{
	width: 77px;
	/*height: 28px;*/
	/*background-color: #9BB7F0;*/
	border:1px solid #f4f4f4;
	border-radius: 2px;
	margin-left: 12px;
	display: flex;
	flex-direction: row;
	position: relative;
	/*justify-content: space-around;*/
}
.Zyx_content4{
	width: 113px;
	/*height: 30px;*/
	background-color: #4381e6;
	position: absolute;
	right: 0;
}
.Zyx_content4{
	/*text-align: center;*/
	border-radius: 5px;
	margin-right: 30px;
}
.Zyx_content4 h3{
	color: #ffffff;

}
.Zyx_content_two{
	/*width: 1118px;*/
	/* height: 58px; */
	background: #fff;
	border-radius: 5px;
	margin-top: 13px;
	margin-left: 15px;
	padding: 22px 20px 0 22px;
	box-sizing: border-box;
	color: #8d8d8d;
}
.Zyx_content_two table tr td{
	border:1px solid #f4f4f4;
	padding: 18px 27px;
	text-align: center;
	border-bottom:none;
	border-right:none;
}
.Zyx_content_two{
	margin-top: 20px;
}
.Zyx_content_two .Zyx_sou{
border-right: 1px solid #f4f4f4;
}
.Zyx_content_two .last{
	border-bottom: 1px solid #f4f4f4;
}
.Zyx_content_three{
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: #fff;
	border-radius: 5px;
	margin-top: 13px;
	margin-left: 15px;
	padding: 22px 20px 0 22px;
	box-sizing: border-box;
	color: #8d8d8d;
	padding-bottom: 5px;
}
.Zyx_box1{
	text-align: center;
	width: 98px;
	height: 28px;
	border: 1px solid #f4f4f4;
	margin-left: 10px;
	border-radius: 5px;
}
.Zyx_box2{
	text-align: center;
	width: 30px;
	height: 28px;
	border: 1px solid #f4f4f4;
	margin-left: 10px;
	border-radius: 5px;
}
.Zyx_box3{
	text-align: center;
	width: 82px;
	height: 28px;
	border: 1px solid #f4f4f4;
	margin-left: 10px;
	border-radius: 5px;
}
.hot{
	background-color: #33bffb;
}
.ac>h3{
	color: #ffffff;
}
.Zyx_sou button{
	color: #33bffb;
}
















select{
	border: 1px solid #f4f4f4;
	margin-left: 12px;
	font-size: 16px;
}