/*
* @Author: nanjiao
* @Date:   2018-09-08 09:32:48
* @Last Modified by:   nanjiao
* @Last Modified time: 2018-09-09 14:36:33
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "苹方";
    list-style: none;
    text-decoration: none;
}
.Ndhz{
	width: 1366px;
	/* height: 768px; */
	/* background-color: #4381E6; */
	background-color: #F1F4F9;
	margin: 0 auto;
}
.Ndsjpt{
	width: 1366px;
	height: 58px;
	background-color: #4381E6;
	 padding-left:50px; 
}
.Ntp{
	width: 210px;
	height: 100%;
	left: 50px;
	float: left;
}
.Nyyk{
	width: 30px;
	height: 30px;
    margin-right: 10px;
	margin-top: 10px; 
	float: left;
}
.Nz {
	width: 160px;
	height: 30px;
	float: right;
	line-height: 58px;
}
.Nz p{
  font-size: 18px;
  color: white;
  /* font-family: 黑体; */
}
.Np{
	width: 190px;
	height: 100%;
	float: right;
	position: relative;
	
}

.Np img{
	
	width: 28px;
	height: 28px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto 0;

}

.Ny {
	width: 160px;
	height: 30px;
	float: right;

	
}
.Ny p{
  font-size: 14px;
  color: #9BB7F0;
  line-height: 58px;

}
.Nxxk{
	width: 182px;
	height: 630px;
	float: left;
    background: #fff;
    /* box-shadow: 0 0 0 1px #E7EAEF; */

}
.Nxxk ul li{
	width: 100%;
	height: 40px;
	border-top: 1px solid #F1F4F9;
	border-bottom: 1px solid #F1F4F9;
	color: #8D8D8D;
	text-align: center;
	line-height: 40px;
}
/* .Nxxk .active{
	background: #ECF2FC;
	color: #4381E6;
	border-right: 2px solid #4381E6;
} */
.Nxxk ul li:hover{
	background: #ECF2FC;
	color: #4381E6;
	border-right: 2px solid #4381E6;
}
.Nh{
	float: right;
	width: 1184px;
    height: 630px;
	/* background: red; */
}
.Nzhong{
	width: 1157px;
	height: 57px;
	background: #fff;
	border-radius: 5px;
	margin-top: 13px;
	margin-left: 15px;

}
.Nzhong .Nwu{
	width: 80px;
	height: 100%;
	margin-left: 30px;
    padding-top: 20px; 
    display: flex;
}
.Nzhong .Nwu b{
	line-height:20px; 
	color: #B8B8B8;
	font-size: 14px;
	font-weight: normal;
}
.Nzhong .Nwu  span{
    line-height:20px;
	color: #4381E6;
	font-size: 40px;
    
}
.Nzhong .Nmima {
	margin-left: 220px;
	line-height:40px;
	color: #B8B8B8;
	font-size: 14px;
	display: flex;
	margin-top: -40px;

}
.Nzhong .Nmima input{
	line-height:20px; 
	color: #B8B8B8;
	font-size: 14px;
	background: #F9F9F9;
	font-weight: normal;
	border-radius: 5px;

	border: none;
	padding-left: 10px;
	/* outline: none; */

}
.Nzhong .Nmima  span{
    line-height:25px;
	color: #B8B8B8;
	font-size: 14px;
    
}
button{
	width: 80px;
	height: 28px;
	/* margin-left: 1045px; */
	line-height:30px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	border-radius: 5px;
	border: none;
	background: #4381E6;
	position: absolute;
	top:86px;

	right: 120px;

}
.Nnr{
	width: 100%;
	height: 630px;
}
.Ndibu{
	
	width: 100%;
	height: 50px;
	background: #fff;
	color: #C6C6C6;
	text-align: center;
	font-size: 12px;
	line-height: 70px;
	z-index: 999;
}