/*
* @Author: nanjiao
* @Date:   2018-09-08 09:32:48
* @Last Modified by:   Administrator
* @Last Modified time: 2018-09-09 18:26:16
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "苹方";
    list-style: none;
    text-decoration: none;
}
.Ndhz{
	width: 1366px;
	/* height: 768px; */
	/* background-color: #4381E6; */
	background-color: #F1F4F9;
	margin: 0 auto;
}
.Ndsjpt{
	width: 1366px;
	height: 58px;
	background-color: #4381E6;
	 padding-left:50px; 
}
.Ntp{
	width: 210px;
	height: 100%;
	left: 50px;
	float: left;
}
.Nyyk{
	width: 30px;
	height: 30px;
    margin-right: 10px;
	margin-top: 10px; 
	float: left;
}
.Nz {
	width: 160px;
	height: 30px;
	float: right;
	line-height: 58px;
}
.Nz p{
  font-size: 18px;
  color: white;
  /* font-family: 黑体; */
}
.Np{
	width: 190px;
	height: 100%;
	float: right;
	position: relative;
	
}

.Np img{
	
	width: 28px;
	height: 28px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto 0;

}

.Ny {
	width: 160px;
	height: 30px;
	float: right;

	
}
.Ny p{
  font-size: 14px;
  color: #9BB7F0;
  line-height: 58px;

}
.Nxxk{
	width: 182px;
	height: 630px;
	float: left;
    background: #fff;
    /* box-shadow: 0 0 0 1px #E7EAEF; */

}
.Nxxk ul li{
	width: 100%;
	height: 40px;
	border-top: 1px solid #F1F4F9;
	border-bottom: 1px solid #F1F4F9;
	color: #8D8D8D;
	text-align: center;
	line-height: 40px;
}
.Nxxk .active{
	background: #ECF2FC;
	color: #4381E6;
	border-right: 2px solid #4381E6;
}
.Nh{
	float: right;
	width: 1184px;
    height: 630px;
	/* background: red; */
}
.Mwd_content{
	width: 1156px;
	/* height: 258px; */
	background: #fff;
	border-radius: 5px;
	margin-top: 13px;
	margin-left: 15px;
	padding:22px 20px 20px 22px;
	box-sizing: border-box;
	color: #8d8d8d;

}
/*.Cyj_title{*/
	/*position: relative;*/
/*}*/
.Mwd_title h2:after{
	width:2px;
	height:10px;
	content: "";
	background-color: #33bffb;
	position: absolute;
	left:0;
	top:4px;
}
.Mwd_title h2{
	margin:0;
	font-size: 14px;
	padding-left: 8px;
	position: relative;
}
.Mwd_search{
	
	display: flex;

	margin: 20px 24px 0 8px;
}
.Mwd_search h3{
	font-size: 14px;
	display: block;
	float: left;
	
	margin-right: 12px;
}
.Mwd_box {
	float: left;
	width: 600px;
	height: 134px;
	display: flex;
	justify-content: space-between;
}
.Mwd_box .Mwd_sonbox{
	width: 134px;
	height: 134px;
	/* background: red; */
	border-radius: 3px;
	border: 1px solid #F4F4F4;

}
.Mwd_box .Mwd_sonbox h1{
	
	font-size: 20px;
	text-align: center;
	display: block;
	margin-bottom: -8px;
	padding: 0;
	color: #25CB77;

}
.Mwd_box .Mwd_sonbox span{
	color: #25CB77;
}
.Mwd_box .Mwd_sonbox h1 span{
	
	font-size: 55px;
	
	
}
.Mwd_box .Mwd_sonbox h2{
	font-size: 16px;
	text-align: center;
	color: #8D8D8D;
}
.Mwd_box .Mwd_sonbox h4{
	font-size: 16px;
	text-align: center;
	color: #8D8D8D;
	
}
.Mwd_center{
	display: flex;
	margin: 20px 24px 0 8px;
}
.Mwd_center h3{
	font-size: 14px;
	display: block;
	display: flex;
	
	margin-right: 12px;
}
.Mwd_center h4{
	font-size: 14px;
	display: block;
	display: flex;
	
	margin-left: 56px;
	margin-right: 12px;
}
.checkbox{
	padding: 0 83px;
}
.checkbox h2{
	font-size: 14px;
}
.checkbox input{
	margin: 14px 8px;
}
.Mwd_bottom{
	display: flex;
	margin: 20px 24px 0 8px;
}
.Mwd_bottom h1{
	font-size: 14px;
	display: block;
	display: flex;
	
	margin-right: 12px;
}
.Mwd_bottom input{
	margin: 0px 8px;
}
.Mwd_bottom h2{
	font-size: 14px;
	line-height: 20px;
}
.Mwd_bottomdown{
	display: flex;
	margin: 25px 24px 0 8px;
}
.Mwd_bottomdown h3{
	font-size: 14px;
	display: block;
	
	
	margin-right: 12px;
}
.Mwd_bottomdown h4{
	font-size: 14px;
	line-height: 100%;
	display: block;
	margin: 0 8px;
}
.Mwd_bottomdown h4 span{
	font-size: 35px;
	color: #25CB77;
}
.Mwd_bottomdown p{
	font-size: 14px;
	font-weight: bold;

}
.Mwd_bottomdown p a{
	color: #25CB77;
	
	
	
	
}
.Mwd_content .submit input{
	display: block;
    margin: 20px 86px;
    width: 111px;
    height: 29px;
    font-size: 14px;
    color: #fff;
    background-color: #4381E6;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;

}
















.Nzhong .Nwu{
	width: 80px;
	height: 100%;
	margin-left: 30px;
    padding-top: 20px; 
    display: flex;
}
.Nzhong .Nwu b{
	line-height:20px; 
	color: #B8B8B8;
	font-size: 14px;
	font-weight: normal;
}
.Nzhong .Nwu  span{
    line-height:20px;
	color: #4381E6;
	font-size: 40px;
    
}
.Nzhong .Nmima {
	margin-left: 220px;
	line-height:40px;
	color: #B8B8B8;
	font-size: 14px;
	display: flex;
	margin-top: -40px;

}
.Nzhong .Nmima input{
	line-height:20px; 
	color: #B8B8B8;
	font-size: 14px;
	background: #F9F9F9;
	font-weight: normal;
	border-radius: 5px;

	border: none;
	padding-left: 10px;
	/* outline: none; */

}
.Nzhong .Nmima  span{
    line-height:25px;
	color: #B8B8B8;
	font-size: 14px;
    
}
/*button{*/
	/*width: 80px;*/
	/*height: 28px;*/
	/*!* margin-left: 1045px; *!*/
	/*line-height:30px;*/
	/*color: #fff;*/
	/*font-size: 14px;*/
	/*text-align: center;*/
	/*border-radius: 5px;*/
	/*border: none;*/
	/*background: #4381E6;*/
	/*position: absolute;*/
	/*top:86px;*/
	/*right: 120px;*/
/*}*/
.Nnr{
	width: 100%;
	height: 630px;
}
.Ndibu{
	
	width: 100%;
	height: 50px;
	background: #fff;
	color: #C6C6C6;
	text-align: center;
	font-size: 12px;
	line-height: 70px;
	z-index: 999;
}