/*
* @Author: nanjiao
* @Date:   2018-09-08 09:32:48
* @Last Modified by:   我的文档
* @Last Modified time: 2018-09-08 21:28:38
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "苹方";
    list-style: none;
    text-decoration: none;
}
.Ndhz{
	width: 1366px;
	height: 768px;
	/* background-color: #4381E6; */
	background-color: #F1F4F9;
	margin: 0 auto;
}
.Ndsjpt{
	width: 1366px;
	height: 58px;
	background-color: #4381E6;
}
.Ntp{
	width: 231px;
	height: 100%;
	position: relative;
	left: 50px;
	float: left;
}
.Nyyk{
	width: 30px;
	height: 30px;
	position: relative;

	top: 10px;
}
.Nz {
	width: 160px;
	height: 30px;
	position: relative;
	left: 50px;
	top: -12px;
}
.Nz p{
  font-size: 18px;
  color: white;
  /* font-family: 黑体; */
}
.Np{
	width: 173px;
	height: 100%;
	float: right;
	
}
.Ntx img{
	width: 28px;
	height: 28px;
	position: relative;
    float:left;
	top: 20px;
	left: 10px;
}

.Ny {
	width: 160px;
	height: 30px;
	position: relative;
	float: right;
	left: 40px;
	bottom: 5px;
	
}
.Ny p{
  font-size: 14px;
  color: #9BB7F0;
  /* font-family: 黑体; */
}
.Nxxk{
	width: 182px;
	height: 750px;
	float: left;
    background: #fff;
    /* box-shadow: 0 0 0 1px #E7EAEF; */

}
.Nxxk ul li{
	width: 100%;
	height: 40px;
	border-top: 1px solid #F1F4F9;
	border-bottom: 1px solid #F1F4F9;
	color: #8D8D8D;
	text-align: center;
	line-height: 40px;
}
.Nxxk .active{
	background: #ECF2FC;
	color: #4381E6;
	border-right: 2px solid #4381E6;
}
.Nh{
	float: right;
	width: 1184px;
	height: 750px;
	/* background: red; */
}
.Nzhong{
	width: 1157px;
	height: 57px;
	background: #fff;
	border-radius: 4px;
	margin-top: 13px;
	margin-left: 15px;

}
.Nzhong .Nwu{
	width: 120px;
	height: 100%;
	margin-left: 30px;
    padding-top: 20px; 
    display: flex;
}
.Nzhong .Nwu b{
	line-height:20px; 
	color: #4381e6;
	font-size: 20px;
	font-weight: bold;
}
.Nzhong .Nwu  span{
    line-height:20px;
	color: #000;
	opacity: 0.4;
	font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
}
.Nzhong .Nmima {
	margin-left: 220px;
	line-height:40px;
	color: #B8B8B8;
	font-size: 14px;
	display: flex;
	margin-top: -40px;

}
.Nzhong .Nmima input{
	line-height:20px; 
	color: #B8B8B8;
	font-size: 14px;
	background: #F9F9F9;
	font-weight: normal;
	border-radius: 5px;

	border: none;
	padding-left: 10px;
	/* outline: none; */

}
.Nzhong .Nmima  span{
    line-height:25px;
	color: #B8B8B8;
	font-size: 14px;
    
}
button{
	width: 80px;
	height: 28px;
	/* margin-left: 1045px; */
	line-height:30px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	border-radius: 4px;
	border: none;
	background: #4381E6;
	position: absolute;
	top:86px;

	right: 120px;

}
.Nnr{
	width: 100%;
	height: 750px;
	background: #f1f4f9;
}
.Ndibu{
	
	width: 100%;
	height: 50px;
	background: #fff;
	color: #C6C6C6;
	text-align: center;
	font-size: 12px;
	line-height: 50px;
	z-index: 999;
}
.lss_center{
	width: 1157px;
	height: 176px;
	border-radius: 4px;
	background: #4c90ff;
	margin-left: 15px;
	margin-top: 15px;
	overflow: hidden;
}
.lss_bottom{
	width: 1157px;
	height: 450px;
	margin-left: 15px;
	overflow: hidden;
}
.lss_bottom li{
	width: 377px;
	height: 210px;
	border-radius: 4px;
	background: #fff;
	margin-top: 15px;
	float: left;
}
.lss_bottom li:nth-child(2){
	margin-left: 12px;
}
.lss_bottom li:nth-child(3){
	margin-left: 12px;
}
.lss_center .yi{
	width: 120px;
	height: 68px;
	margin-left: 30px;
}
.lss_center .yi .shu{
	width: 2px;
	height: 14px;
	border-radius: 1px;
	background: #fff;
	margin-top: 26px;
	float: left;
}
.lss_center .yi p{
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	float: left;
	margin-top: 23px;
	margin-left: 10px;
}
.lss_center .er{
	width: 780px;
	height: 31px;
	margin-left: 30px;
}
.lss_center .er ul li{
	float: left;
}
.lss_center .er ul li .yuan{
	width: 4px;
	height: 4px;
	border-radius: 2px;
	margin-top: 14px;
	background: #fff;
	float: left;
}
.lss_center .er ul li h4{
	float: left;
	font-size: 14px;
	color: #fff;
	opacity: 0.5;
	margin-left: 10px;
	text-align: center;
	line-height: 31px;
}
.lss_center .er ul li .kuang{
	width: 130px;
	height: 31px;
	background: #4482e8;
	margin-left: 10px;
	text-align: center;
	line-height: 31px;
	border-radius: 4px;
	float: left;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
}
.lss_center .er ul li:nth-child(1){
	width: 268px;
	height: 100%;
}
.lss_center .er ul li:nth-child(2){
	width: 178px;
	height: 100%;
}
.lss_center .er ul li:nth-child(2) .kuang{
	width: 44px;
}
.lss_center .er ul li:nth-child(3){
	width: 164px;
	height: 100%;
}
.lss_center .er ul li:nth-child(3) .kuang{
	width: 44px;
}
.lss_center .er ul li:nth-child(4){
	width: 152px;
	height: 100%;
}
.lss_center .er ul li:nth-child(4) .kuang{
	width: 76px;
}
.lss_bottom ul li .yi{
	height: 68px;
}
.lss_bottom ul li .yi .shu{
	width: 2px;
	height: 14px;
	border-radius: 1px;
	background: linear-gradient(to bottom,#6787ff,#30c2fb);
	margin-top: 26px;
	float: left;
	margin-left: 30px;
}
.lss_bottom ul li .yi p{
	font-size: 14px;
	font-weight: bold;
	color: #000;
	opacity: 0.6;
	float: left;
	margin-top: 23px;
	margin-left: 10px;
}
.lss_bottom ul li .er {
	width: 268px;
	height: 26px;
	margin-bottom: 6px;
}
.lss_bottom ul li .yuan{
	width: 4px;
	height: 4px;
	border-radius: 2px;
	margin-top: 11px;
	background: #ff6c84;
	float: left;
	margin-left: 30px;
}
.lss_bottom ul li h4{
	float: left;
	font-size: 14px;
	color: #000;
	opacity: 0.4;
	margin-left: 10px;
	text-align: center;
	line-height: 26px;
}
.lss_bottom ul li .kuang{
	width: 130px;
	height: 26px;
	background: #ecf2fc;
	margin-left: 10px;
	text-align: center;
	line-height: 26px;
	border-radius: 4px;
	float: left;
	font-weight: bold;
	font-size: 14px;
	color: #4381e6;
}
.lss_bottom ul li .san{
	width: 268px;
	height: 26px;
	margin-bottom: 6px;
}
.lss_bottom ul li .si{
	width: 268px;
	height: 26px;
	margin-bottom: 6px;
}
.lss_bottom ul li .wu{
	width: 268px;
	height: 26px;
	margin-bottom: 6px;
}
.lss_bottom ul li .san .yuan{
	background: #3fd173;
}
.lss_bottom ul li .si .yuan{
	background: #ffb033;
}
.lss_bottom ul li .wu .yuan{
	background: #ff5b75;
}
.lss_bottom ul li .san .kuang{
	width: 40px;
	margin-left: 13px;
	color: #8fe1a9;
	background: #ecfaf0;
}
.lss_bottom ul li .si .kuang{
	width: 40px;
	margin-left: 27px;
	background: #fff6e8;
	color: #ffbe63;
}
.lss_bottom ul li .wu .kuang{
	width: 76px;
	margin-left: 27px;
	background: #fef0f3;
	color: #fa7088;
}