/*
* @Author: nanjiao
* @Date:   2018-09-08 09:32:48
* @Last Modified by:   我的文档
* @Last Modified time: 2018-09-10 14:36:18
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "苹方";
    list-style: none;
    text-decoration: none;
}
.Ndhz{
	width: 1366px;
	height: 768px;
	/* background-color: #4381E6; */
	background-color: #F1F4F9;
	margin: 0 auto;
}
.Ndsjpt{
	width: 1366px;
	height: 58px;
	background-color: #4381E6;
}
.Ntp{
	width: 231px;
	height: 100%;
	position: relative;
	left: 50px;
	float: left;
}
.Nyyk{
	width: 30px;
	height: 30px;
	position: relative;

	top: 10px;
}
.Nz {
	width: 160px;
	height: 30px;
	position: relative;
	left: 50px;
	top: -12px;
}
.Nz p{
  font-size: 18px;
  color: white;
  /* font-family: 黑体; */
}
.Np{
	width: 173px;
	height: 100%;
	float: right;
	
}
.Ntx img{
	width: 28px;
	height: 28px;
	position: relative;
    float:left;
	top: 20px;
	left: 10px;
}

.Ny {
	width: 160px;
	height: 30px;
	position: relative;
	float: right;
	left: 40px;
	bottom: 5px;
	
}
.Ny p{
  font-size: 14px;
  color: #9BB7F0;
  /* font-family: 黑体; */
}
.Nxxk{
	width: 182px;
	height: 660px;
	float: left;
    background: #fff;
    /* box-shadow: 0 0 0 1px #E7EAEF; */

}
.Nxxk ul li{
	width: 100%;
	height: 40px;
	border-top: 1px solid #F1F4F9;
	border-bottom: 1px solid #F1F4F9;
	color: #8D8D8D;
	text-align: center;
	line-height: 40px;
}
.Nxxk .active{
	background: #ECF2FC;
	color: #4381E6;
	border-right: 2px solid #4381E6;
}
.Nh{
	float: right;
	width: 1184px;
	height: 660px;
	/* background: red; */
}
.Nzhong{
	width: 1157px;
	height: 57px;
	background: #fff;
	border-radius: 5px;
	margin-top: 13px;
	margin-left: 15px;

}
.Nzhong .Nwu{
	width: 80px;
	height: 100%;
	margin-left: 30px;
    padding-top: 20px; 
    display: flex;
}
.Nzhong .Nwu b{
	line-height:20px; 
	color: #B8B8B8;
	font-size: 14px;
	font-weight: normal;
}
.Nzhong .Nwu  span{
    line-height:20px;
	color: #4381E6;
	font-size: 40px;
    
}
.Nzhong .Nmima {
	margin-left: 220px;
	line-height:40px;
	color: #B8B8B8;
	font-size: 14px;
	display: flex;
	margin-top: -40px;

}
.Nzhong .Nmima input{
	line-height:20px; 
	color: #B8B8B8;
	font-size: 14px;
	background: #F9F9F9;
	font-weight: normal;
	border-radius: 5px;

	border: none;
	padding-left: 10px;
	/* outline: none; */

}
.Nzhong .Nmima  span{
    line-height:25px;
	color: #B8B8B8;
	font-size: 14px;
    
}
button{
	width: 80px;
	height: 28px;
	/* margin-left: 1045px; */
	line-height:30px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	border-radius: 5px;
	border: none;
	background: #4381E6;
	position: absolute;
	top:86px;

	right: 120px;

}
.Nnr{
	width: 100%;
	height: 660px;
}
.Ndibu{
	
	width: 100%;
	height: 50px;
	background: #fff;
	color: #C6C6C6;
	text-align: center;
	font-size: 12px;
	line-height: 50px;
	z-index: 999;
}
.lss_master{
	width: 100%;
	height: 204px;
	overflow: hidden;
}
.lss_master ul li{
	width: 378px;
	height: 90px;
	margin-top: 12px;
	margin-left: 15px;
	background: linear-gradient(to right,#6787ff,#30c2fb);
	float: left;
	border-radius: 4px;
}
.lss_master ul li:nth-child(2){
	background: linear-gradient(to right,#09b9e2,#25eea2);
}
.lss_master ul li:nth-child(3){
	background: linear-gradient(to right,#fca21d,#ffdc0e);
}
.lss_master ul li:nth-child(4){
	background: linear-gradient(to right,#ff9387,#fa6e88);
}
.lss_master ul li:nth-child(5){
	background: linear-gradient(to right,#827dfd,#ee81ea);
}
.lss_master ul li p{
	font-size: 16px;
	text-align: center;
	margin-top: 24px;
	color: #fff;
	opacity: 0.8;
}
.lss_master ul li .lss_nr{
	height: 50px;
	width: 200px;
	margin: 0 auto;
}
.lss_master ul li .lss_nr h4{
	float: left;
	font-size: 16px;
	color: #c0d9fe;
	margin-right:16px; 
}
.lss_master ul li .lss_nr h4:nth-child(3){
	margin-right: 0;
}
.lss_master ul li .lss_nr span{
	font-size: 22px;
	color: #fff;
}
.lss_condition{
	width: 768px;
	height: 242px;
	background-image: url('../img/images/lss_2.png');
	background-repeat: no-repeat;
	margin-left: 15px;
	margin-top: 12px;
	border-radius: 4px;
	overflow: hidden;
}
.lss_yi{
	width: 76px;
	height: 30px;
	margin-top: 20px;
	margin-left: 30px;
}
.lss_shu{
	width: 2px;
	height: 14px;
	border-radius: 1px;
	background: linear-gradient(to bottom,#6787ff,#30c2fb);
	float: left;
	margin-top: 3px;
}
.lss_yi h4{
	margin-left: 8px;
	font-size: 14px;
	color: #000;
	opacity: 0.6;
	float: left;
}
.lss_condition h5{
	font-size: 14px;
	color: #000;
	opacity: 0.4;
	margin-left: 32px;
	margin-top: 110px;
}

.lss_condition h3{
	font-size: 14px;
	color: #000;
	opacity: 0.4;
	margin-left: 22px;
}
.lss_cover{
	width: 1366px;
	height: 768px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #000;
	opacity: 0.8;
}
 .lss_alert{
	width: 395px;
	height: 192px;
	border-radius: 4px;
	background-color: #fff;
	position: fixed;
	top: 246px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 2;
}
 .lss_alert .lss_top{
 	width: 100%;
 	height: 40px;
 	border-bottom: 1px solid #ececec;
 }
 .lss_alert .lss_top p{
 	font-size: 14px;
 	color: #000;
 	opacity: 0.8;
 	float: left;
 	margin-left:18px; 
 	line-height: 40px;
 	font-weight: bolder;
 }
 .lss_alert .lss_top h4{
 	font-weight: bolder;
 	font-size: 14px;
 	float: right;
 	margin-right: 18px;
 	line-height: 40px;
 	cursor: pointer;
 }
 .lss_alert .lss_center{
 	width: 100%;
 	height: 68px;
	background-image: url('../img/images/lss_1.png');
 }
 .lss_alert .lss_center h4{
 	font-size: 14px;
 	color: #000;
 	opacity: 0.4;
 	line-height: 68px;
 	margin-left: 96px;
 }
 .lss_alert .lss_bottom{
 	width: 100%;
 	height: 84px;
	display: flex;
	justify-content: center;
 }
 .lss_alert .lss_bottom .bnt1{
 	width: 83px;
 	height: 30px;
 	text-align: center;
 	line-height: 30px;
 	font-size: 14px;
 	font-weight: bold;
 	background: #4381e6;
 	color: #fff;
 	border-radius: 4px;
 	cursor: pointer;

 }
 .lss_alert .lss_bottom .bnt2{
 	width: 83px;
 	height: 30px;
 	text-align: center;
 	line-height: 30px;
 	font-size: 14px;
 	font-weight: bold;
 	border: 1px solid #f4f4f4;
 	color: #b8b8b8;
 	border-radius: 4px;
 	margin-left: 16px;
 	cursor: pointer;

 }
 .lss_tijiao{
 	display: none;
 }